@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');
.navbar{
    background-color: #272b30 !important;
}
.navbar-brand{
    font-family: 'Xanh Mono', monospace;
    .logo{
        width: 70px;
        filter: drop-shadow(1px 1px 3px #1983e6ce);
    }
}
